body, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

p {
    background-color: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center; 
}

footer p {
    background-color: #0074D9;
    color: #fff;
}

/* Navigation styles */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Map section styles */
#map-section {
    padding: 20px;
    margin-left: 330px; 
    height: 100vh; /* This takes full viewport height */
}

/* Style the map */
#map {
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
}

/* styles for the map container */
#map-container {
    display: flex;
}

/* Sidebar styles */
#sidebar {
    width: 300px; 
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    overflow-y: auto; /* This enables scrolling */
    position: fixed; /* Fixed position for the sidebar */
    top: 0;
    left: 0;
    bottom: 0; /* Adjusted to cover the full height */
    z-index: 1; /* This ensures it appears above the map */
}

#branch-list {
    list-style: none;
    padding: 0;
}

#branch-list li {
    margin-bottom: 10px;
    cursor: pointer;
}

/* styles for the branch container */
.branch-container {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}

.branch-container h3 {
    margin: 0;
    font-weight: bold;
}
