body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
  width: 1500px;
  margin:20px auto;
  background-color: #f3f6f4;
}

header {
  background-color: #003366;
  color: white;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #C0C0C0;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 50px;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
  margin-left: 20px;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 200px;
}
h1 {
  background-image:url(./images/manhattan-apartments.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 90px 0;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

main {
  margin: 50px;
}

section {
  margin-top: 20px;
}

.sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  width: 250px;
  background-color: #f2f2f2;
  padding: 50px;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar section {
  margin-bottom: 10px;
}

.sidebar h3 {
  margin-top: 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 0px;
}

.navigation-block {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  width: 200px;
}

.navigation-block h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.navigation-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-block li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-block a {
  color: #003366;
  text-decoration: none;
  font-size: 16px;
}

.navigation-block a:hover {
  text-decoration: underline;
}
