body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
  width:960px;
  height: 100%;
  margin:10px auto;
  background-image:url(./images/nyc2.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:top center;
}

header {
  background-color: #003366;
  color: white;
  padding: 10px; 
}

/*main {
  background-color: #FFD580;
  padding: 20px;
}*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #C0C0C0;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 50px;
}

nav ul li:hover > ul {
  display: inherit;
}


h1 {
  /*background-image:url(./images/manhattan-apartments.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  color: #ffffff;
  text-align: center;
  padding: 150px 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: #ffffff;
}


main {
  margin: 50px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 0px;
}

/* Style for the labels 
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}*/

/* Style for the dropdowns 
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}*/

/* Style for the chart
#chart {
  width: auto;
  height: 500px;
 
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}*/