body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:medium;
  width:960px;
  height: 100%;
  margin:10px auto;
  background-image:url(./images/Job_Auto.jpeg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:top center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}


header {
  background-color: #003366;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #C0C0C0;
  padding: 10px;
  text-align: center;
  display: inherit;
}

nav a{
  color: #003366;
  margin: 0 10px;
  font-weight: bold;
}

h2:hover{
  color:rgba(28, 136, 43, 0.978);
  text-decoration: underline;
}

h2 {
  color: #0047AB;
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
  color:rgba(234, 7, 7, 0.978);
}
#content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
  color: #0047AB;
}

select {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:medium;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2px solid #000;
  border-radius: 5px;
}

#chart-container {
  margin-top: 20px;
}

#table-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}


.checkbox-container {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px; 
}

.checkbox-container label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold;
}

#table-container {
  overflow-x: auto;
  margin-bottom: 20px;
  max-height: calc(100vh - 280px); 
  border: 2px solid #000;
  border-radius: 5px;
}


.table-wrapper {
  width: 100%;
  overflow-y: auto; 
  
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.axis.x-axis text {
  font-size: 12px;
  font-weight: bold;
  fill: rgb(31, 31, 27); 
}

.axis.y-axis text {
  font-size: 12px;
  font-weight: bold;
  fill: black; 
}

.data-source-text {
  font-weight: bold;
  font-style: italic;
  font-size:small;
  text-decoration: underline;
}

h4{
  font-size: 24px;
  color: #0047AB;
  border-bottom: solid black
}

h4:hover{
  color:rgba(28, 136, 43, 0.978);
  text-decoration: underline;
}

h5{ 
  border-bottom: solid black
}

#footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 0px;
}
